#navigation-bar{
        /* position: fixed;
        top: 0px;
        width: 100%; */
}
.navbar,.dropdown-menu{
    background-color:black;
}
.navigation li a{
    /* margin-left:10px; */
    font-size:16px;
    color:white;
}
.navbar-brand{
    color:white;
}

.navigation li a:hover{
    color:#0ba5fd;
}
.navigation li a.active{
    color:#0ba5fd;
}
.dropdown-item:hover{
    background-color:white;
}
.dropdown-toggle{
    cursor: pointer;
}
.nav-icons{
    height:30px;
    width:30px;
}
