<section id="footer-section">
  <div id="support">
    
  </div>
  <div id="mid-footer">
      <nav>
          <ul class="socials">
            <li><a href="#" target="_blank" class="fa fa-facebook"> </a></li>

            <li><a href="#" target="_blank" class="fa fa-twitter"> </a></li>

            <li><a href="#" target="_blank" class="fa fa-instagram"> </a></li>

            <li><a href="#" target="_blank" class="fa fa-youtube"> </a></li>

            <li><a href="#" target="_blank" class="fa fa-google-plus"> </a></li>

          </ul>
        </nav>
  </div>
  <div id="lower-footer">
    <h5>&copy;2019 SM GAMES | All Rights Reserved </h5>
  </div>
</section>