<section id="footer-section">
  <footer>
    <div id="support">
      <div class="container">
          <div class="row">
              <div class="col-md-6 support-1">
                <h5 >Find US </h5>
                
                <p><img class="social" src="/assets/icons/address.png" style="width:25px;" alt="address">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  Nostrum, laudantium harum, ducimus autem, dicta accusantium 
                  fugit ipsa repudiandae nulla ipsum officia commodi neque 
                  explicabo numquam corrupti placeat molestiae! Commodi, minima.
                </p>
                <p><img class="social" src="/assets/icons/phone.png"  style="width:25px;"alt="phone">+91 0001110001110</p>
                <p><img class="social" src="/assets/icons/email.png"  style="width:25px;"alt="email">dummy@email.com</p>
              </div>
              <div class="col-md-6 support-2">
                <form>
                  <div class="form-group">
                    <input type="text" placeholder="Full Name" class="form-control">
                  </div>
                  <div class="form-group">
                    <input type="email" placeholder="Email" class="form-control">
                  </div>
                  <div class="form-group">
                    <textarea class="form-control" cols="60" rows="5" placeholder="Message"></textarea>
                  </div>
                  <button class="btn btn-primary form-group">Submit</button>
                </form>
              </div>
            </div>
      </div>      
    </div>
    <hr>
      <div id="copy-right">
        <p>&copy;2019 SM GAMES | All Rights Reserved </p>
      </div>
      <nav>
        <ul class=" list-unstyled list-inline text-center">
          <li class="list-inline-item">
            <a href="#" target="_blank"><img class="social" src="/assets/icons/facebook.png" alt="facebook"></a>
          </li>
          <li class="list-inline-item">
            <a href="#" target="_blank"><img class="social" src="/assets/icons/twitter.png" alt="twitter"></a>
          </li>
          <li class="list-inline-item">
            <a href="#" target="_blank" ><img class="social" src="/assets/icons/instagram.png" alt="instagram"></a>
          </li>
          <li class="list-inline-item">
            <a href="#" target="_blank" ><img class="social" src="/assets/icons/youtube.png" alt="youtube"></a>
          </li>
        </ul>
      </nav>
  </footer>
</section>