<section id="footer-section">
  <footer>
    <div id="support">
      <div class="container">
          <div class="row">
              <div class="col-md-6 support-1">
                <h5 >Find US </h5>
                
                <p><img class="social" src="/assets/icons/address.png" style="width:25px;" alt="address">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  Nostrum, laudantium harum, ducimus autem, dicta accusantium 
                  fugit ipsa repudiandae nulla ipsum officia commodi neque 
                  explicabo numquam corrupti placeat molestiae! Commodi, minima.
                </p>
                <p>
                  <img class="social" src="/assets/icons/phone.png"  style="width:25px;"alt="phone">
                  +91 7368756268
                </p>
                <p>
                  <img class="social" src="/assets/icons/email.png"  style="width:25px;"alt="email">
                  dummy@email.com
                </p>
              </div>
              <div class="col-md-6 support-2">
                <form >
                  <div class="form-group">
                    <input type="text" placeholder="Full Name" class="form-control"
                    ngModel name="fname"
                    #fname = "ngModel"
                    required minlength="3">
                    <div class="alert alert-danger"
                      *ngIf="fname.touched && !fname.valid"
                      role="alert">
                      <div *ngIf="fname.errors.required">Name is required</div>
                      <div *ngIf="fname.errors.minlength">
                        Name should have at least {{fname.errors.minlength.requiredLength}} characters
                      </div>
                    </div> 
                  </div>
                  <div class="form-group">
                    <input type="email" placeholder="Email" class="form-control"
                     ngModel name="email"
                     #email ="ngModel"
                     required >
                     <div class="alert alert-danger"
                     *ngIf="email.touched && !email.valid"
                     role="alert">
                      <div *ngIf="email.errors.required">Email is required</div>
                     </div>
                     
                  </div>
                  <div class="form-group">
                    <textarea class="form-control" cols="60" rows="5" placeholder="Message"
                    ngModel name="msg"
                    #msg = "ngModel"
                    required >
                    </textarea>
                    <div class="alert alert-danger"
                    *ngIf ="msg.touched && !msg.valid"
                    role ="alert">
                      <div *ngIf ="msg.errors.required">Message is required</div>
                    </div>
                  </div>
                  <button class="btn  submit-button">Submit</button>
                </form>
              </div>
            </div>
      </div>      
    </div>
    <hr>
      <div id="copy-right">
        <p>&copy;2019 SM GAMES | All Rights Reserved </p>
      </div>
      <nav>
        <ul class=" list-unstyled list-inline text-center">
          <li class="list-inline-item">
            <a href="#" target="_blank"><img class="social" src="/assets/icons/facebook.png" alt="facebook"></a>
          </li>
          <li class="list-inline-item">
            <a href="#" target="_blank"><img class="social" src="/assets/icons/twitter.png" alt="twitter"></a>
          </li>
          <li class="list-inline-item">
            <a href="#" target="_blank" ><img class="social" src="/assets/icons/instagram.png" alt="instagram"></a>
          </li>
          <li class="list-inline-item">
            <a href="#" target="_blank" ><img class="social" src="/assets/icons/youtube.png" alt="youtube"></a>
          </li>
        </ul>
      </nav>
  </footer>
  <div >
    <a class="back-to-top" href="#" role="button"></a>
  </div>
</section>