<nav class="navbar navbar-expand-lg fixed-top navbar-dark">
  <a class="navbar-brand" routerLink="/shell">
    <img src="assets/icons/logo.png" width="30" height="30" class="d-inline-block align-top" alt="logo">
    SM GAMES
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
    (click)="showNavbar()"  
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{'show':navbarshow}">
    <ul class="navbar-nav mr-auto navigation">
      <li class="nav-item active">
        <a class="nav-link" routerLink="products">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/store/cart">
          <img class="nav-icons" src="/assets/icons/cart.png">Cart
        </a>
      </li>    

      <li ngbDropdown *ngIf="service.user$ | async as user; else anonymousUser" class="nav-item dropdown ">
        <a ngbDropdownToggle class="nav-link dropdown-toggle"  id="navbarDropdown" 
          role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <!-- <img class="nav-icons" src="{{user.photoURL}}"> -->
          {{user.displayName}}
        </a>
        <div ngbDropdownMenu class="dropdown-menu " aria-labelledby="navbarDropdown">
          <img class="profile-photo" src="{{user.photoURL}}" alt="profile-photo">
          <a class="dropdown-item" routerLink="my-order">My Orders</a>
          <a class="dropdown-item" routerLink="admin/order">Manage Orders</a>
          <a class="dropdown-item" routerLink="admin/product">Manage Products</a>
          <a class="dropdown-item" (click)="logOut()" routerLink="admin/product">Log Out</a>
        </div>
      </li>
      <ng-template #anonymousUser>
        <li class="nav-item">
          <a  class="nav-link" routerLink="login">
              <img class="nav-icons" src="/assets/icons/login.png">
              Login&nbsp;&&nbsp;Signup
          </a>
        </li>
      </ng-template>      
    </ul>
  </div>
</nav>