.navbar,.dropdown-menu{
    background-color:#1d272c;
}
/* .navigation {
    margin-left:70%;
} */
.navigation li a{
    color:white;
}
.navbar-brand{
    color:white;
}
.navigation li a:hover{
    color:#0ba5fd;
   
}
.navigation li a.active{
    color:#0ba5fd;
}
/* .dropdown-menu{
    width:150px;
} */
.dropdown-item{
    text-align: center;
}
.dropdown-item:hover{
    background-color:white;
}
.dropdown-toggle{
    cursor: pointer;
}
.nav-icons{
    height:30px;
    width:30px;
}
.profile-photo{
    height:100px;
    width:100px;
    border-radius:50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}