<br><br><br><br>
<div class="container">
  <button class="btn btn-primary" routerLink="/manage-products/new-products">Add new Product</button>
    <br><br>
  <table class="table table-hover">
    <thead>
      <tr>
        <!-- <th scope="col">#</th> -->
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Price</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ap of allProducts | async">
        <!-- <th scope="row">{{call()}}</th> -->
        <td>{{ap.productName}}</td>
        <td>{{ap.category}}</td>
        <td>{{ap.price | currency:"INR"}}</td>
        <td><a [routerLink]="['/manage-products/',ap.$value]">Edit</a></td>
      </tr>
    </tbody>
  </table>
</div>
