<section id="log">
  <br><br><br><br><br><br>
<div class="container" >
  <div class="row justify-content-sm-center">
    <div class="col-md-5 col-sm-6 col-xs-12 box">
      <div class="card">
        <div class="card-header">
          <nav>
            <ul class="header">
              <li class="left" ><a routerLink="signup">LOGIN</a></li>
              <li class="right"><a  routerLink="signin">CREATE AN ACCOUNT</a></li>
            </ul>
          </nav>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
