
<section id="games-section">
  <div class="container">
      <div class="content-title">
          <h3>GAMES</h3>	
      </div>
      <hr>
      <div class="row content-box">

        <div class="col-md-4  col-sm-4 col-4 col-games col-g-a">
            <div class="games-title">
              <h4>ANDRIOD GAMES</h4>
            </div>
            <div class="games-link">
							<a href="#" target="_blank">
								<img class="link-img" src="/assets/img/andriod.png" >
							</a>
						</div>
        </div>

        <div class="col-md-4 col-sm-4 col-4  col-games col-g-i">
            <div class="games-title">
              <h4>IOS GAMES</h4>
            </div>
            <div class="games-link">
							<a href="#" target="_blank">
								<img class="link-img" src="/assets/img/ios.png" >
							</a>
						</div>
        </div>

        <div class="col-md-4  col-sm-4 col-4 col-games col-g-w">
            <div class="games-title">
              <h4>WINDOWS GAMES</h4>
            </div>
            <div class="games-link">
							<a href="#" target="_blank">
								<img class="link-img" src="/assets/img/windows.png" >
							</a>
						</div>
        </div>

      </div>
  </div>
  
</section>