<section id="news-section">
  <div class="container">
    <div class="content-title">
      <h3>NEWS</h3>
    </div>
    <hr>
    <div class="row news-row ">
      <div class="col-md-4 text-center light">
        <p class="text-justify">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Aliquam eveniet itaque nisi maxime numquam id ut vero tempora ab,
          hic ducimus beatae quos,
          labore minus dolore perferendis veniam reprehenderit eum.</p>
      </div>
      <div class="col-md-4 text-center dark">
        <p class="text-justify">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Aliquam eveniet itaque nisi maxime numquam id ut vero tempora ab,
          hic ducimus beatae quos,
          labore minus dolore perferendis veniam reprehenderit eum.</p>
      </div>
      <div class="col-md-4 text-center light">
        <p class="text-justify">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Aliquam eveniet itaque nisi maxime numquam id ut vero tempora ab,
          hic ducimus beatae quos,
          labore minus dolore perferendis veniam reprehenderit eum.</p>
      </div>
      <div class="col-md-4 text-center dark">
        <p class="text-justify">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Aliquam eveniet itaque nisi maxime numquam id ut vero tempora ab,
          hic ducimus beatae quos,
          labore minus dolore perferendis veniam reprehenderit eum.</p>
      </div>
      <div class="col-md-4 text-center light">
        <p class="text-justify">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Aliquam eveniet itaque nisi maxime numquam id ut vero tempora ab,
          hic ducimus beatae quos,
          labore minus dolore perferendis veniam reprehenderit eum.</p>
      </div>
      <div class="col-md-4 text-center dark">
        <p class="text-justify">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Aliquam eveniet itaque nisi maxime numquam id ut vero tempora ab,
          hic ducimus beatae quos,
          labore minus dolore perferendis veniam reprehenderit eum.</p>
      </div>
    </div>
  </div>

</section>
