<div id="about-section">
  <div class="container-fluid">
    <div class="content-title">
      <h3>ABOUT US</h3>	
    </div>
    <hr>
    <div class="content-box">
      <div class="row">
        <div class="col-md-4">
            <div class="content-title">
              <h3>ABOUT SM-GAMES</h3>	
            </div>
            <br><br>
          <p class="text-justify">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Tempora, officiis nulla quibusdam ea hic possimus, 
            harum dolore quos quidem atque perferendis.
            Eaque, eveniet eum. Nostrum in rem quod ducimus quidem.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Tempora, officiis nulla quibusdam ea hic possimus, 
            harum dolore quos quidem atque perferendis.
            Eaque, eveniet eum. Nostrum in rem quod ducimus quidem.
            <br>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Tempora, officiis nulla quibusdam ea hic possimus, 
            harum dolore quos quidem atque perferendis.
            Eaque, eveniet eum. Nostrum in rem quod ducimus quidem.
          </p>
        </div>
        <div class="col-md-8 side-cover"></div>
      </div>
    </div>
  </div>

</div>
