<section id="trending-section">
  <div class="container-fluid">
    <div class="content-title">
      <h3>TRENDING GAMES</h3>
    </div>
    <hr>
    <div class="content-box"> 
      <div class="row no-gutters tr-row">
        <div class="col-md-4 col-sm-6 col-xm-12">
          <div class="trending-items">
            <img src="/assets/img/td1.jpg" class="img-fluid">
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xm-12">
          <div class="trending-items">
            <img src="/assets/img/td2.jpg" class="img-fluid">
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xm-12">
          <div class="trending-items">
            <img src="/assets/img/td3.jpg" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>