<br><br><br><br><br>
<div class="row">
  <ng-container *ngFor="let p of products | async">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="custom-card">
        <div class="card " style="width: 18rem">
          <img class="card-img-top" style="height:13rem" [src]="p.payload.val().image" *ngIf="p.payload.val().image">
          <div class="card-body">
            <h5 class="card-title">{{p.payload.val().productName}}</h5>
            <!-- <p class="card-text">{{p.payload.val().description}}</p> -->
            <h5 class="card-title">{{p.payload.val().price|currency:"INR"}}</h5>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>