/* .col-md-8,.col-md-2{
border:1px solid black;
} */
#products{
    background-color:rgb(253, 253, 253);
}
.btn.btn-primary {
    background-color: white;
    color:black;
    border:transparent;
}
.btn.btn-primary.focus,
.btn.btn-primary:focus {
  color: #fff;
  background-color: #0ba5fd;
  border-color: #0ba5fd;
  outline: none;
  box-shadow: none;
}
.btn.btn-primary:hover {
  color: #fff;
  background-color: #0ba5fd;
  border-color: #0ba5fd;
  outline: none;
  box-shadow: none;
}
.btn.btn-primary.active,
.btn.btn-primary:active {
  color: #fff;
  background-color: #0ba5fd;
  border-color: #0ba5fd;
  outline: none;
}
.btn.btn-primary.active.focus,
.btn.btn-primary.active:focus,
.btn.btn-primary.active:hover,
.btn.btn-primary:active.focus,
.btn.btn-primary:active:focus,
.btn.btn-primary:active:hover {
  color: #fff;
  background-color: #0ba5fd;
  border-color: #0ba5fd;
  outline: none;
  box-shadow: none;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    background-color: #0ba5fd;
}
.search{
    width:90%;
    border-radius: 50px;
    margin:0px auto;
}

.card {
    text-align:center;
    margin: 0 auto;
    float: none;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    min-height:300px;
    max-width: 300px;
}
.card:hover {
    box-shadow: 0 8px 16px 4px rgba(95, 95, 95, 0.2);
  }
  
