.custom-card{
    /* border:1px solid red; */
  
    /* padding-left:30%; */
    /* margin-top:15px; */
}
.card {
    text-align:center;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}