<section id="news-section">
  <div class="container">
    <div class="content-title">
      <h3>NEWS</h3>
    </div>
    <hr>
    <div class="row news-row ">
      
      <div class="col-md-4 col-sm-6 col-xm-12 ">
          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="/assets/img/home.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xm-12">
          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="/assets/img/home.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xm-12 ">
          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="/assets/img/home.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xm-12 ">
          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="/assets/img/home.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xm-12 ">
          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="/assets/img/home.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xm-12 ">
          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="/assets/img/home.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
      </div>
    </div>
  </div>

</section>
