<div id="navigation-bar">
  <nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand" href="#home-section">
      <img src="assets/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="logo">
      SM Games
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav navigation">
        <li class="nav-item ">
          <a class="nav-link" href="#home-section">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#trending-section">TRENDING</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="#news-section">NEWS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#games-section">GAMES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about-section">ABOUT&nbsp;US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="store">STORE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#footer-section">SUPPORT</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

