#navigation-bar{
        /* position: fixed;
        top: 0px;
        width: 100%; */
}
.navbar{
    background-color:black;
}
/* .navigation {
    margin-left:50%;
} */
.navigation li a{
    margin-left:10px;
    color:white;
}
.navbar-brand{
    color:white;
}

.navigation li a:hover{
    color:#0ba5fd;
    /* border-bottom: 1px solid rgb(0, 217, 255); */
}
.navigation li a.active{
    color:#0ba5fd;
}

