<div id="navigation-bar">
  <nav class="navbar navbar-expand-lg  fixed-top navbar-dark">
    <a class="navbar-brand" href="/shell#home-section">
      <img src="assets/icons/logo.png" width="30" height="30" class="d-inline-block align-top" alt="logo">
      SM GAMES
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
    data-target="#navbarNav" aria-controls="navbarNav" 
    aria-expanded="false" aria-label="Toggle navigation"
    (click)="showNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" [ngClass]="{'show':navbarshow}">
      <ul class="navbar-nav navigation">
        <li class="nav-item active">
          <a class="nav-link" href="/shell#home-section"><strong>HOME</strong><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/shell#trending-section"><strong>TRENDING</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="/shell#news-section"><strong>NEWS</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/shell#games-section"><strong>GAMES</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/shell#about-section"><strong>ABOUT&nbsp;US</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/store" ><strong>STORE</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/shell#footer-section"><strong>SUPPORT</strong></a>
        </li>
      </ul>
    </div>
  </nav>
</div>

