/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
*{
    margin:0px;
    padding:0px;
}
/* html{
	font-family: 'Roboto','Arial',sans-serif;
	font-weight:300;
	font-size:16px;
	color:#555;
} */